{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-secondary" role="alert">
  Hey {{ name  }} - {{ message  }}
</div>
{% endfor %}

{% if name %}
<h1> Hello {{ name }}!!</h1>
{% else %}
<h1>User List:</h1>
<br>
<form method="post">
    {{ form.hidden_tag() }}

    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    <br>
    {{ form.email.label(class="form-label") }}
    {{ form.email(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-secondary") }}

</form>
<br>
<br>
<br>

{% for our_user in our_users %}
    <p> {{ our_user.id }} - {{ our_user.name }} - {{ our_user.email }} </p>
{% endfor %}




{% endif %}

{% endblock %}